version: "3"

services:
  vote:
    build: ./vote
    command: python app.py
    ports:
      - "5000:80"
    networks:
      - front-tier
      - back-tier
    depends_on:
      - redis

  result:
    build: ./result
    command: nodemon server.js
    ports:
      - "5001:80"
      - "5858:5858"
    networks:
      - front-tier
      - back-tier
    depends_on:
      - db

  worker:
    build:
      context: ./worker
    networks:
      - back-tier
    depends_on:
      - db
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    ports: ["6379"]
    networks:
      - back-tier

  db:
    image: postgres:9.4
    container_name: db
    networks:
      - back-tier

#volumes:
#  db-data:

networks:
  front-tier:
  back-tier: